{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

 <main class="main">
<section><div class="form" >
  <h1 class="form__title">Create user</h1>
 <form method="POST" action="/user-create">
  <div class="form__content">
<div class="form_field">
  <label for="email" class="form__field">Email adress</label>
  <input type="email" name="email" class="form__input">
</div>
<div class="form_field">
  <label for="login" class="form__field">Nickname</label>
  <input type="login" name="login" class="form__input">
</div>
<div class="form_field">
  <label for="password" class="form__field">Password</label>
  <input type="password" name="password" class="form__input">
</div>
<button class="form__button">Create</button>
  </div>
 </form>
</div></section>

<section><div class="form" >
  <h1 class="form__title">Userlist</h1>
 <div class="user-list">
  {{#with data.users}}
  {{#if isEmpty}}
  <mark>Empty</mark>
  {{else}}
  <ul>
  {{#each list}}
  <li>
    {{email}} | {{login}} | {{id}} <a href="/user-delete?id={{id}}">(Delete)
    </a>
  </li>
  {{/each}}
  </ul>
  {{/if}}
  {{/with}}
 </div>
</div></section>
<section><div class="form" >
  <h1 class="form__title">Update email</h1>
 <form method="POST" action="/user-update">
  <div class="form__content">
<div class="form_field">
  <label for="id" class="form__field">ID</label>
  <input type="id" name="id" class="form__input">
</div>
<div class="form_field">
  <label for="email" class="form__field">New email</label>
  <input type="email" name="email" class="form__input">
</div>
<div class="form_field">
  <label for="password" class="form__field">Password</label>
  <input type="password" name="password" class="form__input">
</div>
<button class="form__button">Send</button>
  </div>
 </form>
</div></section>
 </main>


{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}