<div class='card' style='width: 18rem;'>
  <div class='card-body'>
    <h5 class='card-title'>{{name}}</h5>
    <p class='card-text'>{{description}}</p>
    <small id='id' class='form-text text-muted'>
      {{id}}</small>
    <p class='card-price'>{{price}}$</p>
    <a href='/product-edit?id={{this.id}}'>Edit</a>
  </div>
</div>